{% load i18n wagtailroutablepage_tags markdown_deux_tags static wagtailcore_tags wagtailimages_tags blogapp_tags %}
<link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">

{% block content %}
<h1>{{ blog_page.title }}</h1>

<div class="intro">{{ blog_page.description }}</div>

{% for post in posts %}
<div class="card-mb4">
    {% if post.header_image %}
    {% image post.header_image original as header_image %}
    <a href="{% post_date_url post blog_page %}">
        <img src="{{ header_image.url }}" class="card-img-top" ></img>
    </a>
    {% endif %}
    <div class="card-body">
        <h2 class="card-title">
            <a href="{% post_date_url post blog_page %}">{{ post.title }}</a>
        </h2>
        <p class="card-text">
        {% if post.excerpt %}
           {{ post.excerpt|markdown|safe }}
        {% else %}
           {{ post.body|markdown|safe|truncatewords_html:70 }}
        {% endif %}
        </p>
        <a href="{% post_date_url post blog_page %}" class="btn btn-primary">Read More &rarr;</a>

    </div>
    {% load  %}

    </div>
    <div class="card-footer text-muted">
        {{ post.date }}
    </div>
</div>
{% endfor %}

{% endblock %}
